# =========================
# Secretos y Credenciales (¡NUNCA SUBIR!)
# =========================
.env
backend/.env#a
*.pem
secrets/

# =========================
# Python (Backend e IA)#a
# =========================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.venv/

# Jupyter Notebooks (Para evaluaciones)
.ipynb_checkpoints

# =========================
# Node.js / Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/.next/

# =========================
# Bases de Datos Vectoriales y Datos masivos
# =========================
# No subir la base de datos vectorial
backend/chroma_db/

# No subir los PDFs ni los JSONs masivos
backend/data/*
data_pipeline/data/*
!backend/data/sample_data.json

# =========================
# SO y Editores
# =========================
.DS_Store
.vscode/